/* root customs */




/* Basic */

*{border-style: solid;
    border-color:grey;
    border-width: 2px;
    box-sizing: border-box;
    }


    .btn{background-color: red;
    color: white;
    cursor: pointer;}
    
    .clicked{background-color:blue;
        color: white;}
    

.bannerUnderlay{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30vh;
    margin:10vh
}
.content{
    height: 30vh;
    width:50vw;
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;}
.nav{
    height: 30px;
    width:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: grey;}



.content2
    {height:50vh;
    width: 50vw;
    background-color: rgb(136, 207, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    }



.minigameGrid
{   display:grid;
    grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    align-items: center;
    justify-content: center;
    height:80vh;
    background-color: grey;
    width: 100vw;
}

  
  



