/* base theme setup */
*{background-color:white;
color: grey;
box-sizing: border-box;
border: 2px;
border-color: black;}


img{height: 8vh;
    padding: 0.5vh;
}


/* base setup */
.banner_top{
    display:inline-grid;
    
    column-gap: 0.5vw;
    justify-content:flex-start;
    height: 9vh;
    border-style: solid;
    border-color: black;

    width: auto;


}
.search_bar{background-color: white;
height:3vh}
.nav_bar{height:3vh;background-color: red;}
.reach_me_page{background-color: aqua;
height:3vh;}

.hamburger_menu{height: 3vh;background-color:orange;}


/* css interactions setup */