* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*{box-sizing: border-box;}

.top {
    background-color: aqua;
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;


}


.visualization {
    display:flex;
    flex-direction: column;
    height: 60vh;
    background-color: black;
    width: 100vw;
    color: white;
}

.story{
    display:grid;
    grid-template-columns: repeat(2, 50px);
    justify-content: space-evenly;
    height:60vh;
background-color: green;
}

.storyImage{height:50px;
width:50px;
background-color: black;
}

.devJourney{height:60px;
background-color: black;
color:white;
width: auto;}