.bannerunderlay{
    height:500px;
    width: auto;
background-color:red
}

.banner{
    background-image: linear-gradient(45deg,aqua,blue);
    border-style: solid;
border-color: black;
border-width:2px;
margin:40px 0px 40px 0px;
text-align: center;
color: whitesmoke;
}
.btmnavbarunder{
display: flex;
flex-direction: column;    
    align-items: center;
justify-content: center;}


a{color:white}

.navbarbtm{background-color: black;
    width: 50vw;
display: flex;
justify-content: flex-end;}


.navbartop{height: 30px;
background-color: rgb(183, 91, 222);
display: flex;
align-items: center;
justify-content: space-around;
