:root{
    --bg-clr:black;
}

*{box-sizing: border-box;}

h1{color:white;

}
.topbanner{
    height:400px;
    background-color:var(--bg-clr);display:flex;
    justify-content: center;
    align-items: center;}



.worklist{display:flex;
    list-style:none; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.listitem{background-color:darkorange;
    height:30vh;
    width: 30vh;
    margin:8px;
    border-style: solid;
    display:flex;
border-color: blueviolet;
border-width: 2px;
align-items: center;
justify-content: center;
}
a{border: 0px;
   
    height:30vh;
    width: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}